*{
	font-family: "Segoe UI", sans-serif;
}

:root {
    --red: #d13438;
	--blue: #0078d4;
	--yellow: #ffb900;
	--green: #107c10;
	--light-green: #AEDD94;
	--selected-green: #89DB59;
	--theme-primary: #91E4FB;
	--theme-secondary: #D4E3FC;
}

body{
	background-color: var(--theme-secondary);
}

.title{
	display: inline;
	font-size: 0; 
	& span{
		font-size: 32px;
	}
}

.section-title{
	margin-left: 50px;
	color: var(--yellow);
}

.hidden{ display: none; }
.red{ color: var(--red); }
.blue{ color: var(--blue); }
.yellow{ color: var(--yellow); }
.green{ color: var(--green); }

.content-box {
    background-color: var(--theme-primary);
    border: 2px solid;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; 
    box-sizing: border-box; 
    overflow-wrap: break-word; 
}

.form-content-box {
	background-color: var(--theme-primary);
	border: 2px solid;
	margin-top: 100px;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.login-form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px 50px 50px;
}

#form-result{
	margin-left: 50px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: bold;
	color: var(--red);
}
.post-header{
	display: flex;
	margin: 0px 50px;
}

.post-body{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.form-text{
	min-width: 500px;
	padding: 5px;
	margin-bottom: 25px;
}

.form-text-inline{
	display: inline;
	min-width: 250px;
	padding: 5px;
	margin-bottom: 25px;
}

.form-date{
	width: 100px;
	padding: 5px;
	margin-bottom: 25px;
	font-size: 18px;
	margin-right: 10px;
	height: max-content;
}

.form-label,
.form-text,
.form-text-inline,
.form-toggle,
.form-text-stretch{
	font-size: 18px;
	margin-right: 10px;
	height: max-content;
}

.form-button, .form-toggle, .form-button-inline, .form-button-red{
	cursor: pointer;
	user-select: none;
	font-size: 18px;
	padding: 5px 10px;
	background-color: var(--light-green);
	border: 1px solid;
	width: max-content;
	height: max-content;
	text-align: center;
	transition: .2s;
}

.form-button-red{
	background-color: var(--red);
}

.form-button-inline{
	display: inline-block;
}

.form-button:hover, .form-button-inline:hover, .form-button-red:hover{
	background-color: var(--selected-green);
	text-decoration: underline;
	transition: .2s;
}

.form-button-red:hover{
	background-color: var(--red);
}

.form-toggle:hover{
	text-decoration: underline;
	transition: .2s;
}

.blog-container{
	display: inline-block;
	border: 1px solid;
	width: 350px;
	margin: 5px;
}

.blog-image-container{
	display: flex;
	margin: auto;
	aspect-ratio: 16 / 9;
	background: gray;
}

.blog-image-container img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.blog-title{
	text-align: center;
	margin: auto;
}


input + .form-toggle{
	content: "Private";
	background-color: var(--red);
	transition: .2s;
}

input:checked + .form-toggle{
	background-color: var(--light-green);
	transition: .2s;
}

input + .form-toggle::before{
	content: "Private";
}

input:checked + .form-toggle::before{
	content: "Public";
}

#blogs-container{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	background-color: white;
	border: 1px solid grey;
	padding: 5px;
}

#blogs-container::after{
	content: '';
	flex: auto;
}

#blogs-container > :nth-last-child(-n+3){
	justify-content: flex-start;
}

table tr:nth-child(even) td{
	background-color: #EaE9E8;
}

#footer{
	margin: 0 0.67em;
}

#footer p{
	padding: 0;
	color: grey;
}

#post-content{
	width: calc(100% - 8px);
	overflow:hidden;
	resize: none;
}

#visibility-label{
	width: 55px;
}

#header{
	display: flex;
    top: 0; 
	background: var(--theme-secondary);
	margin: 0 0.67em;
}

.inline-buttons{
	margin-left: auto;
	gap: 0.67em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.no-decoration{
	color: black;
	text-decoration: none;
}

#blog-content{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	background-color: white;
	border: 1px solid grey;
	padding: 5px;
}

.blog-image{
	border: 1px solid;
}

.blog-image-large{
	display: flex;
	height: 600px;
	margin: auto;
	border: 1px solid;
}

.form-button-container{
	margin-bottom: 25px;
	margin-right: 10px;
}

.section-header{
	display:flex;
	justify-content: space-between;
	margin-right: 50px;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

#global-wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#header, #footer {
	flex-grow: 0;
	flex-shrink: 0;
}

#body {
  flex-grow: 1;
}